# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#.env configuration
.env

# Misc
.DS_Store

# Ignore all testing output images
__tests__/**/output/